@import "../../utils/variables.scss";

.tag-list {
  padding: 8px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &_item {
    padding: 3px 10px;
    background-color: #f44336c2;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    line-height: 1.6;
    margin: 4px;
    font-size: 14px;
  }
}
