.close-pane {
  width: 100%;
  display: flex;

  &_btn {
    position: relative;
    margin-left: auto;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 4px;
      width: 2px;
      height: 26px;
      background-color: #333;
    }

    &:before {
      transform: rotate(45deg);
      left: 17px;
    }

    &:after {
      right: 17px;
      transform: rotate(-45deg);
    }
  }
}
