.caption {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 12px;

  &_chunk {
    min-width: 90px;
    display: flex;
    margin: 2px 8px 2px 0;

    &:last-child {
      margin: 2px 0 2px 0;
    }
  }

  &_bold {
    font-weight: 600;
    margin-right: 2px;
  }
}
