.marker {
  position: relative;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;

  span {
    position: absolute;
    top: -30px;
    text-align: center;
    white-space: nowrap;
    background: #e9967e;
    padding: 1px 4px;
    border-radius: 2px;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - 8px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #e9967e transparent transparent transparent;
    }
  }
}

.cluster {
  background-color: rgba(244, 67, 54, .8);
}

.single {
  background-color: rgba(244, 67, 54, 0.54);
  text-shadow: 1px 1px #cf836d;
}

.isCompleted {
  background-color: rgba(27, 174, 71, .85);
  text-shadow: 1px 1px green;

  span {
    background-color: rgba(27, 174, 71, .85);
    &:after {
      border-color: rgba(27, 174, 71, .85) transparent transparent transparent;
    }
  }
}