.location-search {
  position: fixed;
  z-index: 99999999;
  top: 20px;
  left: 30px;
}

.location-search-input {

}

.autocomplete-dropdown-container {

}

.suggestion-item {
  background-color: hotpink;
  &--active {
    background-color: #333;
    color: #fff;
  }
}