.location-search {
  position: relative;
  // z-index: 99999999;
  // top: 20px;
  // left: 30px;
}

.location-search-input {

}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #fff;
}

.suggestion-item {
  padding: 2px 4px;
  border-bottom: 1px solid #fafafa;
  
  &:last-child {
    border-bottom: none;
  
  }
  &--active {
    background-color: #333;
    color: #fff;
  }
}