.filters {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 10px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &_item {
    margin: 10px;
    padding: 16px 20px;
    background-color: #fafafa;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;

    &--active {
      background-color: #1bae47;
      color: #fff;
    }
  }
}