.stage {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;

  &:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #FF9800;
    flex-shrink: 0;
  }
}